body {
    background-color:rgb(4, 7, 47);
    color: rgb(255, 255, 255);
}
.container {
    max-width: 600px;
    margin: 0 auto;
}
.kotak {
    background-color: rgb(255, 255, 255);
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}
h1, h2{
    text-align: center;
}
#notif {
    text-align: center;
}
